".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "GraphQL: Type":
    "prefix": "gct"
    "body": """
            import { GraphQLString } from 'graphql';
            import { globalIdField, fromGlobalId } from 'graphql-relay';

            const ${1} = new GraphQLObjectType({
              name: '${2}',
              description: '${3}',
              fields: () => ({
                id: globalIdField('${2}'),
                ${4}: {
                  type: GraphQLString,
                  resolve: ${5} => ${5}.${4},
                },
            """

  "GraphQL: Connection":
    "prefix": "gcn"
    "body": """
            import { connectionDefinitions } from 'graphql-relay';

            import ${1} from '../type/${1}';

            export default connectionDefinitions({
              name: '${2}',
              nodeType: ${1},
            });
            """

  "GraphQL: viewerCanSee":
    "prefix": "vcs"
    "body": """
            const viewerCanSee = (context: GraphQLContext, data: ${1:MyType}): boolean => {
              return true;
            };
            """
